<div class="col-md-12">
    <div class="row">
        <div class="products-tabs">
            <!-- tab -->
            <div id="tab2" class="tab-pane fade in active">
                <div class="products-slick" data-nav="#slick-nav-2">
                    {% for p in prods %}
                        <div class="product">
                            <div class="product-img">
                                <img src="/media/{{ p.main_image }}" alt="">
                                <div class="product-label">
                                    {% if p.discount == True %}
                                        <div class="product-label">
                                            <span class="sale">-{{ p.size_discount }}%</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{ p.category }}</p>
                                <h3 class="product-name"><a href="#">{{ p.name_model }}</a></h3>
                                <h4 class="product-price">{{ p.price }}Р
                                    <del class="product-old-price">0</del>
                                </h4>
                            </div>
                            <div class="add-to-cart">
                                <a href="{% url 'detail_prod' p.url%}" class="primary-btn">
                                    Перейти к деталям
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /tab -->
        </div>
    </div>
</div>