{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Electro - HTML Ecommerce Template</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static '/mainapp/css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static '/mainapp/css/slick.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static '/mainapp/css/slick-theme.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static '/mainapp/css/nouislider.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/mainapp/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static '/mainapp/css/style.css' %}">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
<!-- HEADER -->
{% block header %}
    {% include './blocks/header.html' %}
{% endblock %}
<!-- /HEADER -->

<!-- CONTENT -->
{% block content %}
{% endblock %}
<!-- /CONTENT -->

{% block newsletter %}
    {% include './blocks/newsletter.html' %}
{% endblock %}

<!-- FOOTER -->
{% block footer %}
    {% include './blocks/footer.html' %}
{% endblock %}
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="{% static 'mainapp/js/jquery.min.js' %}"></script>
<script src="{% static 'mainapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'mainapp/js/slick.min.js' %}"></script>
<script src="{% static 'mainapp/js/nouislider.min.js' %}"></script>
<script src="{% static 'mainapp/js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'mainapp/js/main.js' %}"></script>
<script src="https://kit.fontawesome.com/7a33e924f9.js" crossorigin="anonymous"></script>
</body>
</html>
