{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Категории</h3>
                    </div>
                </div>
                <!-- shop -->
                {% for c in cat %}
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <div class="shop-img">
                                <img src="media/{{ c.image }}" alt="">
                            </div>
                            <div class="shop-body">
                                <h3>{{ c.name }}</h3>
                                <a href="/products/?cat={{ c.name }}&price-min=1&price-max=999999&show=12"
                                   class="cta-btn">Купить сейчас <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- /shop -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Новое поступление</h3>
                    </div>
                </div>
                <!-- /section title -->

                <!-- Products tab & slick -->
                {% include 'mainapp/blocks/random_prod.html' %}
                <!-- Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

    <div id="hot-deal" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="hot-deal">
                        <ul class="hot-deal-countdown">
                            <li>
                                <div>
                                    <h3>02</h3>
                                    <span>Дня</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>10</h3>
                                    <span>Часов</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>34</h3>
                                    <span>Минут</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>60</h3>
                                    <span>Секунд</span>
                                </div>
                            </li>
                        </ul>
                        <h2 class="text-uppercase">Лучшее предложение недели</h2>
                        <p>Новое поступление до 50% скидка</p>
                        <a class="primary-btn cta-btn" href="/products/?disc=1&price-min=1&price-max=999999&show=12">Купить
                            сейчас</a>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Топ продаж на сегодня</h3>

                    </div>
                </div>
                <!-- /section title -->
                <!-- Products tab & slick -->
                {% include 'mainapp/blocks/random_prod.html' %}
                <!-- /Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

{% endblock %}